h1, h4, a, p {
    font-family: 'Heebo', sans-serif;
    color:#ffffff;
}

#warning{
    color: #ffce00;
}

body{
    /* background-color: #152d2d; */
    background-color: #320013;
    width: 100%;
    margin: 0;
    padding: 0;
}

#logo{
    overflow: hidden;
    height: 200px;
}

#logo object{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#masthead{
    height: 400px;
}

#masthead iframe{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-style: none;
    border-radius: 5px;
}
#copy{
    margin:5px 5px 0 5px;
    padding: 5px;
    /* background-color: darkslategrey; */
    /* background-image: linear-gradient(to bottom, rgb(0, 175, 129), rgb(0, 135, 184)); */
    background-image: linear-gradient(to bottom, rgb(77, 1, 0), rgb(128, 38, 0));
    border-radius: 5px;
}

#copy #instructions{
    line-height: 1.25em;
}

#instructions{
    font-size: 1.25em;
}

blockquote{
    padding: 0 0 10px 0;
    color: rgb(255, 255, 255);
}


/*****************************************/
/*****************************************/
/*****************************************/
 
body {
    margin: 0;
}

.page {
    margin: 0 auto;
    padding: 5px;
    max-width: 960px;
}


/*       Start of Grid:     ;*/

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header {
    grid-column-end: span 12;
}


header #logo{
    position: absolute;
    z-index: 200;
    width: 25%;
}

header #svg-object {
    position: relative;
    width: 100%;
    max-width: 200px;
    padding: 0 25px;
}

.subHeader {
    grid-column-end: span 12;
}

.subHeader h1{
    margin: 20px 5px 15px 5px;
    padding: 5px;
    color: #ffffff;
    font-size: 1.75em;
    background-image: linear-gradient(to top right, rgb(0, 175, 114), #00a9e6);
    border-radius: 5px;
}

.pageBreak {
    grid-column-end: span 12;
    background-color: red;;
}

/* buttons */
.item{
    color: #ffffff;
    grid-column-end: span 2;
    text-align: center;
    padding: 5px;
    margin: 5px;
    background-image: linear-gradient(to top right, rgb(212, 0, 255), rgb(0, 187, 255));
    border-radius: 5px;
    text-decoration: none;
}


.item a{
    color: #ffffff;
    text-decoration: none;
}


#backTop{
    margin: 10px 0px 50px 0px;
    grid-column-start: 5;
    /* grid-column-end: 8; */
}

article{
    grid-column-end: span 12;
}

#copy {
    border-radius: 10px;
}

#copy p {
    margin: 10px  10px 20px;
    letter-spacing: 0.025em;
    color: #FFF;
}

#copy h1, h2 {
    margin: 10px;
    color:#ffffff;
}

#copy #instructions{
    margin: -10px 10px 20px 10px;
    line-height: 1em;
}




.box {
    padding: 5px;
    overflow: hidden;
    border-radius: 5px;
}


.box h1{
    position: absolute;
    margin: 10px 0 0 10px;
    font-size: 4em;
    color: #222436;
    line-height: 1em;
}


.box h4{
    text-align: center;
    margin: 5px;
}

.box p{
    margin: 0 10px 10px 10px;
    text-align: justify;
}

.box img{
    width: 100%;
    border-radius: 5px;
}


.box .stroke{
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color:#8892d8;
}

.product {
    grid-column-end: span 3;
}

footer {
    width: 100%;
    height: 50px;
    grid-column-end: span 12;
    /* background-color: darkslategrey; */
    background-image: linear-gradient(to top right, rgb(0, 175, 129), rgb(0, 135, 184));
    border-radius: 5px;
}

footer a{
    text-decoration: none;
}

footer p{
    width: 100%;
    line-height: 1.2em;
    text-align: center;
    color: #ffffff;
}
/*****************************************/
/*****************************************/
/*****************************************/

@media only screen and (max-width: 767px){

    /* grid shift */
    .grid {
        display: grid;
        grid-template-columns: repeat(10);
        grid-template-rows: repeat(20);
    }

    #copy {
        /* starting col / ending col*/
        /* starting col / span including end col*/
        grid-column: 1/ span 2;
        border-radius: 5px;
    }

    /* box */
    .box {
        padding: 5px;
        overflow: hidden;
        border-radius: 5px;
    }


    .box h1{
        position: absolute;
        margin: 10px 0 0 10px;
        font-size: 4em;
        color: #222436;
        line-height: 1em;
    }


    .box h4{
        text-align: center;
        margin: 5px;
    }

    .box p{
        margin: 0 10px 10px 10px;
        text-align: justify;
    }

    .box img{
        width: 100%;
        border-radius: 5px;
    }


    .box .stroke{
        -webkit-text-stroke-width: 4px;
        -webkit-text-stroke-color:#8892d8;
    }
    
    .product {
        grid-column-end: span 6;
    }
    
}

