body #begin{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #6b0074;
}

body #infoBox{
    position: relative;
    top: 35%;
    display:block;
    width: 50%;
    margin: auto;
}

body #copy{
    position: relative;
    margin: 20px auto;
    color: white;
    font-size: 2.25em;
    width: 100%;
    height: 10%;
    text-align: center;
}

body #buttonBox{
    margin: 40px 0 20px 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

body #buttonBox #click{
    margin: 0 auto;
    width: 100%;
    max-width: 200px;
    background-color: #f5ff00;
    padding: 10px 20px 10px 20px;
    border-radius: 45px 45px 45px 45px;
    border: 5px solid #fdaa0d;
    font-size: 1.5em;
    text-decoration: none;
    color: #008e00;
}


@media only screen and (max-width:800px){
    body #copy{
        font-size: 1.75em;
    }
    
    body #infoBox{
        top: 20%;
        width: 70%;
        padding: 0px 20px 0px 20px;
        border-radius: 45px 45px 45px 45px;
    }
}