body {
    width: 100%;
    position: absolute;
    background-color: #616895;
}

body a-scene {
    visibility:hidden;
}

body #preloader{
    position: absolute;
    top: -10%;
}

body #begin{
    position: relative;
    height: 100%;
    padding: 0;
}

body #begin #buttonBox{
    position: relative;
    padding: 0;
    width: 25%;
    height: 100%;
    margin: auto;
    top: 30%;
}

body #begin #buttonBox #button{
    position: relative;
    z-index: 200;
    margin: 0 auto;
    width: 100%;
    background-color: #0e5271;
    opacity: 0.9;
    padding: 10px 20px 10px 20px;
    border-radius: 45px 45px 45px 45px;
    border: 4px solid #0b374b;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    color: #a1e1ff;
    display: none;
}

body #begin #buttonBox #button:hover{
    background-color: #1d7ba5;
    border: 4px solid #0a3041;
    color: #071d27;
}

body #begin #buttonBox img {
    position: relative;
    z-index: 100;
    bottom: 100px;
}

#logo {
    width: 15%;
    position: absolute;
    top: 10px;
    margin-left: 10px;
    background-color: white;
    opacity: 0.9;
    padding: 8px 15px 5px 15px;
    border-radius: 45px 45px 45px 45px;
    border: 5px solid black;
    z-index: 10;
}


